.user-header
  border-bottom: 0.2rem ridge rgba(0, 0, 0, .2)
  padding: 0.5rem 0
  background-color: #fff
  ul
    width: 80%
    margin: 0
    li
      list-style: none
      color: #FF8C00
      padding: 0.5rem 1rem
      border-radius: 0.3rem
      &:hover
        background-color: #eeeeee
        cursor: pointer
